@import "./mixins.scss";
@import "./variables";

footer {
    margin-top: 50px;
    background-color: #f2f6f9;

    ul {
        list-style: none;
        display: flex;
        float: left;
        padding-left: 20px;
        word-spacing: 20px;
        @include button-hover;
        li {
            margin: 30px 20px;
        }
    }
    .footer-sub-class {
        border-color: $heading-bound;
        border-style: solid;
        border-top: 10px;
        border-radius: 20px;
    }
    .footer-icons {
        padding-right: 40px;
        margin-top: 20px;
        float: right;
        img {
            height: 40px;
            margin-left: 20px;
        }
        img:hover {
            background-color: $bold-color;
            cursor: pointer;
        }
    }
}
