@import "./variables";

@mixin text-font {
    font-size: 10px;
    color: $primary-color;
}

@mixin para-text {
    color: rgb(88, 88, 88);
    font-weight: lighter;
}

@mixin _button {
    background-color: $bold-color;
    border: $bold-color solid 8px;
    border-radius: 20px;
    color: rgb(226, 226, 226);
    padding: 5px 10px;
    font-weight: bold;
    transition: 0.3s ease-out
}